@define-mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@define-mixin flex-row{
  @mixin flex;
  flex-direction: row;
}
@define-mixin flex-column {
  @mixin flex;
  flex-direction: column;
  > div {
    width: 100%;
    text-align: left;
  }
}
