:root{
  --gray: #808080;
  --gray-dark: #4D4D4D;
  --gray-light: #E6E6E6;
  --gray-back: #fafafa;
  --red: #F23B73;
  --green: #3AC97A;
  --border: 1px solid --gray-light;
  --padding: 10px;
  --shadow: 1px 1px 10px rgba(0, 0, 0, .1);
}